<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> foram encontrados:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label for="exampleInputEmail1">Código:</label>
    <%= f.text_field :code, { class: 'form-control' } %>
    <label for="exampleInputEmail1">Enunciado:</label>
    <%= f.text_area :enunciation, { class: 'form-control', rows: '3'} %>
    <label for="exampleInputEmail1">Gabarito:</label>
    <%= f.text_field :template, { class: 'form-control' } %>
  </div>

  <%= f.fields_for :alternatives do |builder| %>
    <div class="form-group">
      <%= render 'alternative_fields', :f => builder %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
