<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@question.errors.count, "error") %> foram encontrados:</h3>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :code %>
    <%= f.text_field :code, { class: 'form-control'  } %>

    <%= f.label :enunciation %>
    <%= f.text_area :enunciation, { class: 'form-control', rows: '3'} %>

    <%= f.label :template %>
    <%= f.text_field :template, { class: 'form-control' } %>
  </div>

  <fieldset>
    <legend>Alternativas</legend>

    <%= f.fields_for :alternatives do |builder| %>
      <div class="form-group">
        <%= render 'alternative_fields', :f => builder %>
      </div>
    <% end %>
  </fieldset>

  <%= f.submit 'Criar Questão', { class: 'btn btn-primary' } %>
  <%= link_to 'Voltar', questions_path, { class: 'btn btn-default'} %>

<% end %>
