<h1>Listas de questões</h1>

  <table class="table table-bordered">
    <th>Código</th>
    <th>Enunciado</th>
    <th>Ações</th>

    <% @questions.each do |question| %>
      <tr>
        <td><%= question.code          %></td>
        <td><%= question.enunciation   %></td>
        <td ><%= link_to '', question, { class: 'glyphicon glyphicon-zoom-in' } %>
            <%= link_to '', edit_question_path(question), { class: 'glyphicon glyphicon-pencil' } %>
            <%= link_to '', question, class: 'glyphicon glyphicon-trash', method: :delete, data: { confirm: 'Você tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </table>

<%= link_to 'Criar questão', new_question_path, { class: 'btn btn-default'} %>




