<h1>Visualizar Questão</h1>

<p>Código:    <%= @question.code %></p>
<p>Enunciado: <%= @question.enunciation %></p>
<p>Gabarito:  <%= @question.template %></p><br />

<% for alternative in @question.alternatives %>
  <p><%= alternative.alternative %>
  <%= alternative.answer %></p>
<% end %>
<br />
<%= link_to 'Editar', edit_question_path(@question) %> |
<%= link_to 'Voltar', questions_path %>
